.top-bar-left {
	color:eval-bg-color();

	a {
		color:eval-bg-color() !important;
	}

	a:hover {
		background-color: $main-color + 20;
	}

	.dropdown-menu {
		color:eval-bg-color();
	}

	li {
		color:eval-bg-color();
	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a {
		color: $white + 20;
		background-color: $main-color + 45;
		margin-left: 10px;
		border-radius: 10px;
		margin-top:1px;
	}

	.is-dropdown-submenu {
		margin-top:5px;
		border-top: none;
	}

	ul[role="menubar"] {
		position: absolute;
		top:-1px;
		padding:0;
	}

	ul[role="menubar"] li {
		margin:0px;
		padding:0;
		padding-top:3px;
	}

	// .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	// 	color: $white;
	// 	border-color: #1779ba $white $white;
	// }

	li[class"is-dropdown-menu-parent opens-right"] a::after {
		background-color: $white;
		border-color:$white $white;
	}
}

@media print, screen and (min-width: 40em) {

}

@media print, screen and (min-width: 64em) {

}
